.product-label {
  border-radius: 0.2rem;
  color: white;
  background-color: #07ca6f;
  position: absolute;
  z-index: 1;
  top: 2rem;
  left: 2rem;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.6rem;
  letter-spacing: -0.01em;
  padding: 0.5rem 0.9rem;
  min-width: 45px;
  text-align: center;
}
