<!-- Striped row layout section start -->
<section id="striped-row-form-layouts">
  <div class="row text-left">
    <div class="col-sm-12" *ngIf="!idUpdate">
      <div class="content-header">Ajouter un produit</div>
    </div>
    <div class="col-sm-12" *ngIf="idUpdate">
      <div class="content-header">Modifier un produit</div>
    </div>
  </div>
  <div class="row text-left">
    <div class="col-md-12">
      <div class="card">
        <div class="card-content">
          <div class="px-3">
            <form class="form form-horizontal striped-rows form-bordered"
            [formGroup]="formDetailsGroup" (ngSubmit)="onSubmit()">
              <div class="form-body">
                <h4 class="form-section"><i class="ft-list"></i> Produit</h4>

                <div class="form-group row">
                  <label class="col-md-2 label-control" for="projectinput1">Nom De produit</label>
                  <div class="col-md-6">
                    <input type="text" id="projectinput1" class="form-control" placeholder="Nom" 
                       name="nom" formControlName="name" />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-2 label-control" for="description">A propos</label>
                  <div class="col-md-6">
                    <textarea type="textarea" id="description" class="form-control" autocomplete="on"
                      placeholder="Veuillez décrire les spécifications de votre produit: type, matériaux, etc..."
                      name="description" formControlName="description" ></textarea>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-2 label-control" for="categories">Catégories</label>
                  <div class="col-md-6">
                    <ng-select [items]="categories" name="categories" bindLabel="name" bindValue="id"
                      placeholder="Choisissez"  formControlName="categories">
                      <ng-template ng-label-tmp let-item="item">
                        <img height="25" width="25" src="{{ apiUrl }}Categories/{{ item.photo }}" />
                        <b style="color: black"> {{ item.name }}</b>
                      </ng-template>
                      <ng-template ng-option-tmp let-item="item" let-index="index">
                        <img height="25" width="25" src="{{ apiUrl }}Categories/{{ item.photo }}" />
                        <b style="color: black"> {{ item.name }}</b>
                      </ng-template>
                    </ng-select>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-md-2 label-control" for="categories">Type de produit</label>
                  <div class="col-md-6">
                    <ng-select [items]="listTypeProduit" name="categories" 
                      placeholder="Choisissez" formControlName="typecompagne">
                      <ng-template ng-label-tmp let-item="item">
                        <b style="color: black"> {{ item.name }}</b>
                      </ng-template>
                      <ng-template ng-option-tmp let-item="item" let-index="index">
                        <b style="color: black"> {{ item.name }}</b>
                      </ng-template>
                    </ng-select>
                  </div>
                </div>



                <h4 class="form-section"><i class="ft-clipboard"></i> Prix</h4>
                <div class="form-group row">
                  <label class="col-md-2 label-control" for="projectinput5">Prix sans remise</label>
                  <div class="col-md-4">
                    <div class="position-relative has-icon-right">
                      <input type="text" id="projectinput5" class="form-control" placeholder="Prix sans remise" min="0"
                        value="promo" name="typecompagne" formControlName="prix"/>
                      <div class="form-control-position" style="color: black !important">
                        €
                      </div>
                    </div>
                    <small class="form-text text-muted danger" *ngIf="produits.prix<0">Veuillez ajouter un nombre
                      positif?</small>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-2 label-control" for="Réduction">Réduction
                  </label>
                  <div class="col-md-4">
                    <div class="position-relative has-icon-right">
                      <ng-select [items]="reductions" name="reductions" bindLabel="name" bindValue="name"
                        (change)="enreduction()" placeholder="Choisissez le taux de réduction" formControlName="reduction">
                        <ng-template ng-label-tmp let-item="item">
                          <b style="color: black">{{ item.name }} </b>
                          <b style="color: black"> %</b>
                        </ng-template>
                        <ng-template ng-option-tmp let-item="item" let-index="index">
                          <b style="color: black">{{ item.name }} </b>
                          <b style="color: black"> %</b>
                          <div class="form-control-position" style="color: black">
                            %
                          </div>
                        </ng-template>
                      </ng-select>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-2 label-control" for="prixNv">Nouveau prix</label>
                  <div class="col-md-4">
                    <div class="position-relative has-icon-right">
                      <input type="text" disabled id="prixNv" class="form-control" placeholder="Voilà"
                        [value]="produits.prixNv" name="prixNv" />
                      <div class="form-control-position" style="color: black !important">
                        €
                      </div>
                    </div>
                  </div>
                </div>

                <h4 class="form-section"><i class="ft-clock"></i> Date</h4>

                <div class="form-group row">
                  <label class="col-md-2 label-control" for="timesheetinput3">Date début</label>
                  <div class="col-md-4">
                    <div class="position-relative has-icon-left">
                      <input type="date" class="form-control"  name="maxDate" 
                        placeholder="maxDate 2019-11-11" formControlName="dateDebut"/>

                      <div class="form-control-position">
                        <i class="ft-message-square"></i>
                      </div>
                    </div>
                  </div>
                  <label class="col-md-2 label-control" for="timesheetinput5">Heure début
                  </label>
                  <div class="col-md-4">
                    <div class="position-relative has-icon-left">
                      <input type="time" id="timesheetinput5" class="form-control" name="starttime" 
                      formControlName="heureDebut"/>
                      <div class="form-control-position">
                        <i class="ft-clock"></i>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-md-2 label-control" for="timesheetinput3">Date fin
                  </label>
                  <div class="col-md-4">
                    <div class="position-relative has-icon-left">
                      <input type="date" class="form-control"  id="timesheetinput3" name="minDate"
                         placeholder="maxDate 2019-11-11"  formControlName="dateFin"/>
                      
                      <div class="form-control-position">
                        <i class="ft-message-square"></i>
                      </div>
                    </div>
                  </div>

                  <label class="col-md-2 label-control" for="timesheetinput6">Heure fin</label>
                  <div class="col-md-4">
                    <div class="position-relative has-icon-left">
                      <input type="time" id="timesheetinput6" class="form-control" name="endtime" formControlName="heureFin" />
                      <div class="form-control-position">
                        <i class="ft-clock"></i>
                      </div>
                    </div>
                  </div>
                </div>
                <h4 class="form-section"><i class="ft-file"></i> Fichier</h4>

                <div class="form-group row">
                  <label class="col-md-2 label-control" for="photo">Photo du produit (format:png,jpeg)
                  </label>
                  <div class="col-md-6">
                    <input type="file" ng2FileSelect [uploader]="uploader" name="photo" id="photo"
                      (change)="photoChangeEvent($event)" accept="image/x-png,image/gif,image/jpeg" />
                    <span class="custom-file-control"></span>
                  </div>
                </div>

                <h4 class="form-section"><i class="ft-file"></i> Points de Vente</h4>

                <div class="form-group row">
                  <label class="col-md-2 label-control" for="categories">Points de vente</label>
                  <div class="col-md-6">
                    <ng-multiselect-dropdown [placeholder]="'Choisissez'" [settings]="dropdownSettings"
                      [data]="listNamePv" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                    </ng-multiselect-dropdown>
                  </div>
                  <div style="height: 300px;"></div>
                </div>

              </div>
              <div class="form-actions" *ngIf="!idUpdate">
                <button type="button" [routerLink]="['/produits/show']" class="btn btn-raised btn-danger mr-1">
                  <i class="ft-x"></i> Annuler
                </button>
                <button type="submit" class="btn btn-raised btn-success mr-1">
                  <i class="ft-eye"></i> Prévisualiser
                </button>
                <button type="button" (click)="onConfirm()" class="btn btn-raised btn-primary">
                  <i class="fa fa-check-square-o"></i> Confirmer
                </button>
              </div>
              <div class="form-actions" *ngIf="idUpdate">
                <button type="button" [routerLink]="['/produits/show']" class="btn btn-raised btn-danger mr-1">
                  <i class="ft-x"></i> Annuler
                </button>
                <button type="submit" class="btn btn-raised btn-success mr-1">
                  <i class="ft-eye"></i> Prévisualiser
                </button>
                <button type="button" (click)="onConfirm()" class="btn btn-raised btn-primary">
                  <i class="fa fa-check-square-o"></i> Modifier
                </button>
              </div>
            </form>
          </div>
        </div>

        <!-- -------------------------------------------------------------------------------------------------------------- -->

      </div>
    </div>
  </div>
</section>