<!-- Striped row layout section start -->
<section id="striped-row-form-layouts">
  <div class="row text-left">
    <div class="col-sm-12">
      <div *ngIf="!idUpdate"
      class="content-header">Ajouter un commercant</div>
       <div  *ngIf="idUpdate" class="content-header">Modifier un commercant</div>

    </div>
  </div>
  <div class="row text-left">
    <div class="col-md-12">
      <div class="card">

        <div class="card-content">
          <div class="px-3">
            <form [formGroup]="formDetailsGroup" (ngSubmit)="onSubmit()"
              class="form form-horizontal striped-rows form-bordered">


              <div class="form-body">
                <h4 class="form-section"><i class="ft-user"></i> commercant</h4>
                <div class="form-group row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="lastname">Nom</label>
                      <input type="text" class="form-control" placeholder="Nom" name="name" id="lastname"
                      formControlName="name" [(ngModel)]="user.name" />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="firstname">Prénom</label>
                      <input type="text" id="firstname" class="form-control" placeholder="Prénom" name="prenom"
                        formControlName="prenom" [(ngModel)]="user.prenom"/>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="email">E-mail</label>
                      <input id="email" type="text" class="form-control" placeholder="E-mail" name="email"
                        formControlName="email" [(ngModel)]="user.email"/>
                    </div>
                  </div>
                </div>



                <div class="form-group row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="fax">Fax</label>
                      <input id="fax" autocomplete="off" class="form-control" placeholder="Fax" name="fax"
                        formControlName="fax" [(ngModel)]="fax" />
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-group">
                      <label for="phoneNumber">Téléphone</label>
                      <input id="phoneNumber" class="form-control" placeholder="Téléphone" name="phone"
                        formControlName="phone" [(ngModel)]="user.phone"/>
                    </div>
                  </div>
                </div>






                <div class="form-group row" *ngIf="!idUpdate">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="password">Mot de passe</label>
                      <input id="password" type="password" autocomplete="off" class="form-control"
                        placeholder="Votre mot de passe" name="password" formControlName="password" />
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-group">
                      <label for="confirmpassword">Confirmer votre mot de passe</label>
                      <input type="password" autocomplete="off" id="confirmpassword" class="form-control"
                        placeholder="Confirmer votre mot de passe" name="passwordconfirm"
                        formControlName="passwordConfirm"  />
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="address">Adresse</label>
                      <textarea id="address" type="textarea" class="form-control" placeholder="Adresse" name="adresse"
                        formControlName="adresse" [(ngModel)]="user.adresse"></textarea>
                    </div>
                  </div>

            
                </div>


                <div class="form-group row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Type de commerçant</label>
                      <div class="input-group col-md-9" style="justify-content: space-around;">
                        <div class="custom-control custom-radio d-inline-block ml-1">
                          <input type="radio" id="customRadioInline2" (change)="onchange($event.target.value)"
                            formControlName="type" [(ngModel)]="typeCommercant" name="test" value="independant" class="custom-control-input" />
                          <label class="custom-control-label" for="customRadioInline2">Indépendant</label>
                        </div>
                        <div class="custom-control custom-radio d-inline-block">
                          <input type="radio" id="independant" name="test" value="groupe" formControlName="type"
                          [(ngModel)]="typeCommercant"  class="custom-control-input" (change)="onchange($event.target.value)" />
                          <label class="custom-control-label" for="independant">Groupe</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>








                <div class="form-group row last" >
                  <div class="col-md-6">
                    <div class="form-group last">
                      <label>Enseigne </label>

                      <ng-select [items]="enseignes" name="enseignes" bindLabel="name" bindValue="_id"
                        (change)="getEnseigneByid($event)" placeholder="Choisissez" formControlName="enseigne"
                        >
                        <ng-template ng-label-tmp let-item="item">
                          <img height="15" width="15" [src]="item.avatar" />
                          <b style="color: black">{{ item.name }}</b>
                        </ng-template>
                        <ng-template ng-option-tmp let-item="item" let-index="index">
                          <img height="15" width="15" [src]="item.avatar" />
                          <b style="color: black">{{ item.name }}</b>
                        </ng-template>
                      </ng-select>
                    </div>
                  </div>
                  </div>

                  <div class="form-group row last" >
                  <div class="col-md-6" *ngIf="groupe">
                    <div class="form-group">
                      <label>Points de vente </label>
                      <ng-multiselect-dropdown [placeholder]="'Choisissez'" placeHolder-color= "'#959595'" [settings]="dropdownSettings"
                        name="pvProduct" [data]="pointventes" (onSelect)="onItemSelect($event)"
                        (onSelectAll)="onSelectAll($event)" formControlName="pointvente" [(ngModel)]="user.pointvente">
                      </ng-multiselect-dropdown>
                    </div>

                </div>
              </div>


                <div style="height: 300px;">

                </div>
              </div>
              <div *ngIf="!idUpdate" class="form-actions">
                <button type="button" routerLink="/commercants/show" class="btn btn-raised btn-warning mr-1">
                  <i class="ft-x"></i> Annuler
                </button>
                <button type="submit" class="btn btn-raised btn-primary">
                  <i class="fa fa-check-square-o"></i> Confirmer
                </button>
              </div>

              <div *ngIf="idUpdate" class="form-actions">
                <button type="button" routerLink="/commercants/show" class="btn btn-raised btn-warning mr-1">
                  <i class="ft-x"></i> Annuler
                </button>
                <button type="submit" class="btn btn-raised btn-primary">
                  <i class="fa fa-check-square-o"></i> Modifier
                </button>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

