<!-- Striped row layout section start -->
<section id="striped-row-form-layouts">
  <div class="row text-left">
    <div class="col-sm-12" *ngIf="!idUpdate">
      <div class="content-header">Ajouter une Enseigne</div>
    </div>
    <div class="col-sm-12" *ngIf="idUpdate">
      <div class="content-header">Modifier une Enseigne</div>
    </div>
  </div>
  <div class="row text-left">
    <div class="col-md-12">
      <div class="card">
        <div class="card-content" *ngIf="!idUpdate">
          <div class="px-3">
            <form enctype="multipart/form-data" class="form form-horizontal striped-rows form-bordered"
              (ngSubmit)="onAddEnseigne()">
              <div class="form-body">
                <h4 class="form-section"><i class="ft-user"></i> Enseigne</h4>
                <div class="form-group row">
                  <label class="col-md-3 label-control" for="projectinput1">Nom*</label>
                  <div class="col-md-6">
                    <input type="text" id="projectinput1" class="form-control" placeholder="Nom" name="nom"
                      [(ngModel)]="enseignes.name" />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 label-control" for="projectinput5">Description*</label>
                  <div class="col-md-6">
                    <input type="text" id="projectinput5" class="form-control" placeholder="Description"
                      name="description" [(ngModel)]="enseignes.description">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 label-control" for="projectinput5">horaire ouverture*</label>
                  <div class="col-md-6">
                    <input type="time" id="timesheetinput5" class="form-control" name="starttime"
                      [(ngModel)]="enseignes.horairedebut" />
                    <!-- <ng-select [items]="horaires" name="data" bindLabel="data" bindValue="data"
                      placeholder="Choissisez une horaire de début" [(ngModel)]="enseignes.horairedebut">
                      <ng-template ng-label-tmp let-item="item">

                        <b style="color: black">{{item.data }}</b>
                      </ng-template>
                      <ng-template ng-option-tmp let-item="item" let-index="index">

                        <b style="color: black">{{ item.data }}</b>
                      </ng-template>
                    </ng-select> -->
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 label-control" for="projectinput5">Horaire fermeture*</label>
                  <div class="col-md-6">
                    <input type="time" id="timesheetinput5" class="form-control" name="starttime"
                      [(ngModel)]="enseignes.horairefin" />
                    <!-- <ng-select [items]="horaires" name="data" bindLabel="data" bindValue="data"
                      placeholder="Choissisez une horaire de fin" [(ngModel)]="enseignes.horairefin">
                      <ng-template ng-label-tmp let-item="item">

                        <b style="color: black">{{item.data }}</b>
                      </ng-template>
                      <ng-template ng-option-tmp let-item="item" let-index="index">

                        <b style="color: black">{{ item.data }}</b>
                      </ng-template>
                    </ng-select> -->
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-md-3 label-control" for="projectinput5">adresse</label>
                  <div class="col-md-6">
                    <textarea type="text" id="projectinput5" class="form-control" [value]="adress" placeholder="adresse"
                      name="adresse" [(ngModel)]="enseignes.adresse"></textarea>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 label-control" for="url">Adresse web</label>
                  <div class="col-md-6">
                    <textarea type="text" id="url" class="form-control" placeholder="Adresse web" name="url"
                      [(ngModel)]="enseignes.url"></textarea>
                  </div>
                </div>
                <div class="form-group row last">
                  <label class="col-md-3 label-control">Cocher si vous voulez que le logo d’enseigne apparait sur la
                    partie web</label>
                  <div class="col-md-9">
                    <div class="input-group col-md-9">
                      <div class="custom-control custom-radio d-inline-block">
                        <input type="radio" id="customRadioInline1" [(ngModel)]="enseignes.activeUrl" name="activeUrl"
                          value="true" class="custom-control-input">
                        <label class="custom-control-label" name="activeurl" for="customRadioInline1">Oui</label>
                      </div>
                      <div class="custom-control custom-radio d-inline-block ml-1">
                        <input type="radio" id="customRadioInline2" [(ngModel)]="enseignes.activeUrl" value="false"
                          checked name="activeUrl" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioInline2">Non</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 label-control" for="projectinput5">Logo* (Dimension demandée 85px X
                    85px) {{ formattedAddress}}</label>
                  <div class="col-md-6">
                    <input type="file" [(ngModel)]="enseignes.photo" ng2FileSelect [uploader]="uploader" name="file"
                      id="file" (change)="fileChangeEvent($event)" accept="image/x-png,image/gif,image/jpeg" />
                    <span class="custom-file-control"></span>
                  </div>
                </div>


              </div>
              <div *ngFor="let item of enseignes.pointvente; let i = index">
                
                <app-pointvente (indexpointvente)="deleteEnseigne($event)" (setAddress)="getAddress($event)"
                  adressType="geocode" [item]="item" [index]="i"></app-pointvente>


              </div>
              <button type="button" class="btn btn-raised btn-primary" (click)="addPointVente()">
                <i class="fa fa-check-square-o"></i> Ajouter un Point de vente
              </button>

              <!-- <span>{{adress}}</span> -->
              <div class="form-actions">
                <button type="button" routerLink="/enseignes/show" class="btn btn-raised btn-warning mr-1">
                  <i class="ft-x"></i> Annuler
                </button>
                <button type="submit" class="btn btn-raised btn-primary">
                  <i class="fa fa-check-square-o"></i> Confirmer
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="card-content" *ngIf="idUpdate">
          <div class="px-3">
            <form enctype="multipart/form-data" class="form form-horizontal striped-rows form-bordered"
              (ngSubmit)="onEditEnseigne()">
              <div class="form-body">
                <h4 class="form-section"><i class="ft-user"></i> Enseigne</h4>

                <div class="form-group row">
                  <label class="col-md-3 label-control" for="projectinput1">Nom</label>
                  <div class="col-md-6">
                    <input type="text" id="projectinput1" class="form-control" placeholder="Nom" name="nom"
                      [(ngModel)]="enseignes.name" />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 label-control" for="projectinput5">Description</label>
                  <div class="col-md-6">
                    <textarea type="text" id="projectinput5" class="form-control" placeholder="Description"
                      name="description" [(ngModel)]="enseignes.description"></textarea>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 label-control" for="projectinput5">horaire ouverture</label>
                  <div class="col-md-6">
                    <input type="time" id="timesheetinput5" class="form-control" name="starttime"
                      [(ngModel)]="enseignes.horairedebut" />
                    <!-- <ng-select [items]="horaires" name="data" bindLabel="data" bindValue="data"
                      placeholder="Choissisez une horaire de début" [(ngModel)]="enseignes.horairedebut">
                      <ng-template ng-label-tmp let-item="item">
                        <b style="color: black">{{item.data }}</b>
                      </ng-template>
                      <ng-template ng-option-tmp let-item="item" let-index="index">

                        <b style="color: black">{{ item.data }}</b>
                      </ng-template>
                    </ng-select> -->
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 label-control" for="projectinput5">Horaire fermeture</label>
                  <div class="col-md-6">
                    <input type="time" id="timesheetinput5" class="form-control" name="starttime"
                      [(ngModel)]="enseignes.horairefin" />
                    <!-- <ng-select [items]="horaires" name="data" bindLabel="data" bindValue="data"
                      placeholder="Choissisez une horaire de fin" [(ngModel)]="enseignes.horairefin">
                      <ng-template ng-label-tmp let-item="item">

                        <b style="color: black">{{item.data }}</b>
                      </ng-template>
                      <ng-template ng-option-tmp let-item="item" let-index="index">

                        <b style="color: black">{{ item.data }}</b>
                      </ng-template>
                    </ng-select> -->
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-md-3 label-control" for="url">Adresse web</label>
                  <div class="col-md-6">
                    <input type="text" id="url" class="form-control" placeholder="Adresse web" name="url"
                      [(ngModel)]="enseignes.url" />
                  </div>
                </div>
                <div class="form-group row last">
                  <label class="col-md-3 label-control">Cocher si vous voulez que le logo d’enseigne apparait sur la
                    partie web</label>
                  <div class="col-md-9">
                    <div class="input-group col-md-9">
                      <div class="custom-control custom-radio d-inline-block">
                        <input name="activeUrl" type="radio" [(ngModel)]="enseignes.activeUrl" id="customRadioInline1"
                          value="true" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioInline1">Oui</label>
                      </div>
                      <div class="custom-control custom-radio d-inline-block ml-1">
                        <input name="activeUrl" type="radio" id="customRadioInline2" [(ngModel)]="enseignes.activeUrl"
                          value="false" checked class="custom-control-input">
                        <label class="custom-control-label" for="customRadioInline2">Non</label>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-md-3 label-control" for="projectinput5">Logo (Dimension demandée 85px X
                    85px)</label>
                  <div class="col-md-6">
                    <input type="file" ng2FileSelect [uploader]="uploader" name="file" id="file"
                      (change)="fileChangeEvent($event)" accept="image/x-png,image/gif,image/jpeg" />
                    <span class="custom-file-control"></span>
                  </div>
                </div>
              </div>
              <div *ngFor="let item of enseignes.pointvente; let i = index">
                <app-pointvente (indexpointvente)="deleteEnseigne($event)" [item]="item" [index]="i"></app-pointvente>
              </div>
              <button *ngIf="enseignes?.pointvente.length!==0" type="button" class="btn btn-raised btn-primary"
                (click)="onEditEnseigne()">
                <i class="fa fa-check-square-o"></i> Modifier les Points de Ventes
              </button>
              <agm-map [zoom]="15" class="" [usePanning]="true" [fullscreenControl]="true" [rotateControl]="false"
                [zoomControl]="true" [scaleControl]="false" [streetViewControl]="false" [scrollwheel]="false"
                [latitude]="enseignes?.startLocation?.coordinates[0]"
                [longitude]="enseignes?.startLocation?.coordinates[1]">
                <agm-marker [latitude]="enseignes.startLocation?.coordinates[0]" (dragEnd)="markerDragEnd($event)"
                  [longitude]="enseignes?.startLocation?.coordinates[1]" [markerDraggable]="true"></agm-marker>


              </agm-map>
              <span>{{adress}}</span>
              <div class="form-actions">
                <button type="button" routerLink="/enseignes/show" class="btn btn-raised btn-warning mr-1">
                  <i class="ft-x"></i> Annuler
                </button>
                <button type="submit" class="btn btn-raised btn-primary">
                  <i class="fa fa-edit"></i> Modifier
                </button>

              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<!--File Upload Starts-->
<!--File Upload Starts-->