<!-- Striped row layout section start -->
<section id="striped-row-form-layouts">
  <div class="row text-left">
    <div class="col-sm-12" *ngIf="!idUpdate">
      <div class="content-header">Ajouter une Enseigne</div>
    </div>
    <div class="col-sm-12" *ngIf="idUpdate">
      <div class="content-header">Modifier une Enseigne</div>
    </div>
  </div>
  <div class="row text-left">
    <div class="col-md-12">
      <div class="card">
        <div class="card-content" *ngIf="!idUpdate">
          <div class="px-3">
            <form enctype="multipart/form-data" class="form form-horizontal striped-rows form-bordered"
              (ngSubmit)="onAddEnseigne()">
              <div class="form-body">
                <h4 class="form-section"><i class="ft-user"></i> Enseigne</h4>
                <div class="form-group row">
                  <label class="col-md-3 label-control" for="projectinput1">Nom*</label>
                  <div class="col-md-6">
                    <input type="text" id="projectinput1" class="form-control" placeholder="Nom" name="nom"
                      [(ngModel)]="enseignes.name" />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 label-control" for="projectinput5">Description*</label>
                  <div class="col-md-6">
                    <input type="text" id="projectinput5" class="form-control" placeholder="Description"
                      name="description" [(ngModel)]="enseignes.description">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 label-control" for="projectinput5">horaire ouverture*</label>
                  <div class="col-md-6">
                    <input type="time" id="timesheetinput5" class="form-control" name="starttime"
                      [(ngModel)]="enseignes.horairedebut" />

                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 label-control" for="projectinput5">Horaire fermeture*</label>
                  <div class="col-md-6">
                    <input type="time" id="timesheetinput6" class="form-control" name="endtime"
                      [(ngModel)]="enseignes.horairefin" [ngModelOptions]="{standalone: true}" />

                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 label-control" for="description">Addresse* {{formattedAddressAdmin}}</label>
                  <div class="col-md-6">


                    <input class="form-control" type="text" [(ngModel)]="autocompleteInputadresse" #addresstext
                      style="padding: 12px 20px; border: 1px solid #ccc; width: 400px">
                  </div>
                </div>


               <!--  <div class="form-group row">
                  <label class="col-md-3 label-control" for="projectinput5">Numéro de téléphone*</label>
                  <div class="col-md-6" style="width: 100%;">
                    <input type="text" ng2TelInput (hasError)="hasError($event)"
                      (intlTelInputObject)="telInputObject($event)" (countryChange)="onCountryChange($event)"
                      pattern="^[\s0-9]*$" [required]="emailReq ? false : !null" name="phone" #phone="ngModel"
                      style="width: 100% !important" [(ngModel)]="enseignes.phone" />

                  </div>
                </div>
 -->
                 <div class="form-group row">
                  <label class="col-md-3 label-control" for="projectinput5">Numéro de téléphone*</label>
                  <div class="col-md-6">
                    <input type="text" id="phone" class="form-control" name="phone"
                      [(ngModel)]="enseignes.phone" />
                    
                  </div>
                </div> 

                <!-- <div class="form-group row">
                  <label class="col-md-3 label-control" for="projectinput5">adresse</label>
                  <div class="col-md-6">
                    <textarea type="text" id="projectinput5" class="form-control" [value]="adresseEnseigne" placeholder="adresse"
                      name="adresse" [(ngModel)]="adresseEnseigne"></textarea>
                  </div>
                </div>  -->
                <div class="form-group row">
                  <label class="col-md-3 label-control" for="url">Adresse web*</label>
                  <div class="col-md-6">
                    <textarea type="text" id="url" class="form-control" placeholder="Adresse web" name="url"
                      [(ngModel)]="enseignes.url"></textarea>
                  </div>
                </div>
                <div class="form-group row last">
                  <label class="col-md-3 label-control">Cocher si vous voulez que le logo d’enseigne apparait sur la
                    partie web</label>
                  <div class="col-md-9">
                    <div class="input-group col-md-9">
                      <div class="custom-control custom-radio d-inline-block">
                        <input type="radio" id="customRadioInline1" [(ngModel)]="enseignes.activeUrl" name="activeUrl"
                          value="true" class="custom-control-input">
                        <label class="custom-control-label" name="activeurl" for="customRadioInline1">Oui</label>
                      </div>
                      <div class="custom-control custom-radio d-inline-block ml-1">
                        <input type="radio" id="customRadioInline2" [(ngModel)]="enseignes.activeUrl" value="false"
                          checked name="activeUrl" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioInline2">Non</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 label-control" for="projectinput5">Logo* (Dimension demandée 85px X
                    85px) {{ formattedAddress}}</label>
                  <div class="col-md-6">
                    <input type="file" [(ngModel)]="enseignes.photo" ng2FileSelect [uploader]="uploader" name="file"
                      id="file" (change)="fileChangeEvent($event)" accept="image/x-png,image/gif,image/jpeg" />
                    <span class="custom-file-control"></span>
                  </div>
                </div>


              </div>



              <div class="form-group row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Type d'enseigne</label>
                    <div class="input-group col-md-9"  style="justify-content: space-around;">
                      <div class="custom-control custom-radio d-inline-block ml-1">
                        <input type="radio" id="customRadioInline3" (change)="onchange($event.target.value)"
                          [(ngModel)]="enseignes.type" name="independant" value="independant"
                          class="custom-control-input" />
                        <label class="custom-control-label" for="customRadioInline3">Indépendant</label>
                      </div>
                      <div class="custom-control custom-radio d-inline-block">
                        <input type="radio" id="customRadioInline4" name="groupe" value="groupe"
                          [(ngModel)]="enseignes.type" class="custom-control-input"
                          (change)="onchange($event.target.value)" />
                        <label class="custom-control-label" for="customRadioInline4">Groupe</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>




              <div *ngIf="groupe ==true">

                <div *ngFor="let item of enseignes.pointvente; let i = index">

                  <app-pointvente (indexpointvente)="deleteEnseigne($event)" (setAddress)="getAddress($event)"
                    adressType="geocode" [item]="item" [index]="i"></app-pointvente>


                </div>
                <button type="button" class="btn btn-raised btn-primary" (click)="addPointVente()">
                  <i class="fa fa-check-square-o"></i> Ajouter un Point de vente
                </button>

              </div>












              <!-- <span>{{adress}}</span> -->
              <div class="form-actions">
                <button type="button" routerLink="/enseignes/show" class="btn btn-raised btn-warning mr-1">
                  <i class="ft-x"></i> Annuler
                </button>
                <button type="submit" class="btn btn-raised btn-primary">
                  <i class="fa fa-check-square-o"></i> Confirmer
                </button>
              </div>
            </form>
          </div>
        </div>

        <!------------------------------- Edit ensegien ----------------------------------------->
        <div class="card-content" *ngIf="idUpdate">
          <div class="px-3">
            <form enctype="multipart/form-data" class="form form-horizontal striped-rows form-bordered"
              (ngSubmit)="onEditEnseigne()">
              <div class="form-body">
                <h4 class="form-section"><i class="ft-user"></i> Enseigne</h4>

                <div class="form-group row">
                  <label class="col-md-3 label-control" for="projectinput1">Nom</label>
                  <div class="col-md-6">
                    <input type="text" id="projectinput1" class="form-control" placeholder="Nom" name="nom"
                      [(ngModel)]="enseignes.name" />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 label-control" for="projectinput2">Description</label>
                  <div class="col-md-6">
                    <textarea type="text" id="projectinput5" class="form-control" placeholder="Description"
                      name="description" [(ngModel)]="enseignes.description"></textarea>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 label-control" for="projectinput3">horaire ouverture</label>
                  <div class="col-md-6">
                    <input type="time" id="timesheetinput5" class="form-control" name="starttime"
                      [(ngModel)]="enseignes.horairedebut" />

                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 label-control" for="projectinput4">Horaire fermeture</label>
                  <div class="col-md-6">
                    <input type="time" id="timesheetinput5" class="form-control" name="Endtime"
                      [(ngModel)]="enseignes.horairefin" />

                  </div>
                </div>



                <div class="form-group row">
                  <label class="col-md-3 label-control" for="projectinput5">Numéro de téléphone*</label>
                  <div class="col-md-6">
                    <input type="text" id="phone" class="form-control" name="phone" [(ngModel)]="enseignes.phone" />

                  </div>
                </div> 


              <!--   <div class="form-group row" >
                  <label class="col-md-3 label-control" for="projectinput5">Numéro de téléphone</label>
                  <div class="col-md-6" style="width: 100%;">
                    <input  type="text" ng2TelInput (hasError)="hasError($event)" 
                    (intlTelInputObject)="telInputObject($event)" 
                    (countryChange)="onCountryChange($event)" 
                    pattern="^[\s0-9]*$" [required]="emailReq ? false : !null" 
                    name="phone" #phone="ngModel" style="width: 100% !important"
                    [(ngModel)]="enseignes.phone" />
                    
                  </div>
                </div> -->










                <div class="form-group row">
                  <label class="col-md-3 label-control" for="url">Adresse web</label>
                  <div class="col-md-6">
                    <input type="text" id="url" class="form-control" placeholder="Adresse web" name="url"
                      [(ngModel)]="enseignes.url" />
                  </div>
                </div>
                <div class="form-group row last">
                  <label class="col-md-3 label-control">Cocher si vous voulez que le logo d’enseigne apparait sur la
                    partie web</label>
                  <div class="col-md-9">
                    <div class="input-group col-md-9">
                      <div class="custom-control custom-radio d-inline-block">
                        <input name="activeUrl" type="radio" [(ngModel)]="enseignes.activeUrl" id="customRadioInline1"
                          value="true" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioInline1">Oui</label>
                      </div>
                      <div class="custom-control custom-radio d-inline-block ml-1">
                        <input name="activeUrl" type="radio" id="customRadioInline2" [(ngModel)]="enseignes.activeUrl"
                          value="false" checked class="custom-control-input">
                        <label class="custom-control-label" for="customRadioInline2">Non</label>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-md-3 label-control" for="projectinput5">Logo (Dimension demandée 85px X
                    85px)</label>
                  <div class="col-md-6">
                    <input type="file" ng2FileSelect [uploader]="uploader" name="file" id="file"
                      (change)="fileChangeEvent($event)" accept="image/x-png,image/gif,image/jpeg" />
                    <span class="custom-file-control"></span>
                  </div>
                </div>
              </div>





              <div class="form-group row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Type d'enseigne</label>
                    <div class="input-group col-md-9">
                      <div class="custom-control custom-radio d-inline-block ml-1">
                        <input type="radio" id="customRadioInline3" (change)="onchange($event.target.value)"
                          [(ngModel)]="enseignes.type" name="independant" value="independant"
                          class="custom-control-input" />
                        <label class="custom-control-label" for="customRadioInline3">Indépendant</label>
                      </div>
                      <div class="custom-control custom-radio d-inline-block">
                        <input type="radio" id="customRadioInline4" name="groupe" value="groupe"
                          [(ngModel)]="enseignes.type" class="custom-control-input"
                          (change)="onchange($event.target.value)" />
                        <label class="custom-control-label" for="customRadioInline4">Groupe</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>




              <div *ngIf="groupe ==true">

                <div *ngFor="let item of enseignes.pointvente; let i = index">

                  <app-pointvente (indexpointvente)="deleteEnseigne($event)" (setAddress)="getAddress($event)"
                    adressType="geocode" [item]="item" [index]="i"></app-pointvente>


                </div>
                <button type="button" class="btn btn-raised btn-primary" (click)="addPointVente()">
                  <i class="fa fa-check-square-o"></i> Ajouter un Point de vente
                </button>

              </div>



              <button *ngIf="enseignes?.pointvente.length!==0" type="button" class="btn btn-raised btn-primary"
                (click)="onEditEnseigne()">
                <i class="fa fa-check-square-o"></i> Modifier les Points de Ventes
              </button>


              <agm-map [zoom]="8" class="" [usePanning]="true" [fullscreenControl]="true" [rotateControl]="false"
                [zoomControl]="true" [scaleControl]="false" [streetViewControl]="false" [scrollwheel]="false"
                [latitude]="enseignes?.startLocation?.coordinates[0]"
                [longitude]="enseignes?.startLocation?.coordinates[1]">
                <agm-marker [label]="labelOptions" [iconUrl]="iconUrl"
                  [latitude]="enseignes?.startLocation?.coordinates[0]" (dragEnd)="markerDragEndEns($event)"
                  [longitude]="enseignes?.startLocation?.coordinates[1]" [markerDraggable]="true">
                </agm-marker>
                <agm-marker *ngFor="let data of listposVt" [latitude]="data.startLocation.coordinates[0]"
                  (dragEnd)="markerDragEnd($event)" [longitude]="data.startLocation.coordinates[1]"
                  [markerDraggable]="true"></agm-marker>
              </agm-map>

              <div class="form-actions">
                <button type="button" routerLink="/enseignes/show" class="btn btn-raised btn-warning mr-1">
                  <i class="ft-x"></i> Annuler
                </button>
                <button type="submit" class="btn btn-raised btn-primary">
                  <i class="fa fa-edit"></i> Modifier
                </button>

              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<!--File Upload Starts-->
<!--File Upload Starts-->