<div class="form-body">
  <h4 class="form-section"><i class="ft-user"></i> Point de vente {{i+1}}</h4>

  <div class="form-group row">
    <label class="col-md-3 label-control" for="name">Nom</label>
    <div class="col-md-6">
      <input type="text" id="name" class="form-control" placeholder="Nom" name="nom" [(ngModel)]="data.name" />
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-3 label-control" for="description">Description </label>
    <div class="col-md-6">
      <textarea type="text" id="description" class="form-control" placeholder="Description" name="description"
        [(ngModel)]="data.description"></textarea>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-3 label-control" for="description">Addresse {{formattedAddress}}</label>
    <div class="col-md-6">


      <input class="form-control" type="text" [(ngModel)]="autocompleteInput" #addresstext
        style="padding: 12px 20px; border: 1px solid #ccc; width: 400px">{{formattedAddress}}
    </div>
  </div>

</div>